.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.family {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: #d7fbe8;
}

.imageContainer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	min-height: 600px;
}
.imageContainer img {
	height: 450px;
	width: 400px;
	object-fit: cover;
	border-radius: 5px;
	position: relative;
	backface-visibility: hidden;
	animation: fadeIn 1s ease-out backwards;
	transition: 0.5s;
}
.imageContainer img:nth-child(1) {
	box-shadow: 0px 5px 11px #171717;
	bottom: 53px;
	left: 70px;
	object-position: bottom;
}
.imageContainer img:nth-child(2) {
	box-shadow: 0px 7px 15px #272727;
	top: 40px;
	left: 20px;
	z-index: 20;
	object-position: top;
	animation-delay: 0.4s;
}
.imageContainer img:nth-child(3) {
	box-shadow: 0px 5px 11px #151515;
	right: 80px;
	bottom: 20px;
	object-position: 30% 50%;
	animation-delay: 0.2s;
}

.family p {
	width: 1200px;
	max-width: 90%;
	padding: 30px;
	margin: 20px 0 40px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	background-color: #9df3c4;
	box-shadow: 4px 6px 8px #13614d;
	animation: fadeIn 1s ease-out backwards;
}

.tiles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	background-color: #9df3c4;
}

.textTile {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	background: url('/images/dark-wallpaper.png');
	background-repeat: no-repeat;
	background-size: cover;
	animation: fadeIn 1s ease-out backwards;
}
.textTile p {
	max-width: 80%;
	padding: 30px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	background-color: #d7fbe8b9;
	box-shadow: 4px 6px 8px #13614d;
	animation: fadeIn 1s ease-out backwards;
}
.tiles img {
	width: 100%;
	height: 50vh;
	max-height: 500px;
	min-height: 300px;
	object-fit: cover;
	animation: fadeIn 1s ease-out backwards;
}

.tiles img:nth-child(6) {
	object-position: top;
}

@media screen and (max-width: 1300px) {
	.imageContainer {
		margin-top: 30px;
		min-height: 500px;
	}
	.imageContainer img {
		height: 337px;
		width: 300px;
	}
	.imageContainer img:nth-child(1) {
		bottom: 38px;
		left: 62px;
	}
	.imageContainer img:nth-child(2) {
		top: 30px;
		left: 25px;
	}
	.imageContainer img:nth-child(3) {
		right: 50px;
		bottom: 15px;
	}
}

@media screen and (max-width: 900px) {
	.imageContainer {
		margin-top: 20px;
		min-height: 50vw;
	}
	.imageContainer img {
		height: 35vw;
		width: 32vw;
	}
	.imageContainer img:nth-child(1) {
		bottom: 3.5vw;
		left: 7vw;
	}
	.imageContainer img:nth-child(2) {
		top: 3.5vw;
		left: 2.8vw;
	}
	.imageContainer img:nth-child(3) {
		right: 5.8vw;
		bottom: 1.75vw;
	}

	.tiles {
		grid-template-columns: 1fr;
	}
	.tiles img:nth-child(2) {
		grid-row: 1 / span 1;
	}
	.tiles img:nth-child(6) {
		grid-row: 5 / span 1;
	}
	.textTile p {
		padding: 20px;
		margin: 30px 0;
	}
}

@media screen and (max-width: 450px) {
	.family p {
		padding: 20px;
		margin: 30px 0;
		font-size: 16px;
	}
	.tiles img {
		min-height: 150px;
		height: 40vh;
	}
	.textTile p {
		margin: 20px 0;
		font-size: 16px;
		max-width: 90%;
	}
}

@media screen and (min-width: 2500px) {
	.imageContainer {
		margin-top: 70px;
		min-height: 850px;
	}
	.imageContainer img {
		height: 650px;
		width: 580px;
	}
	.imageContainer img:nth-child(1) {
		bottom: 73px;
		left: 100px;
	}
	.imageContainer img:nth-child(2) {
		top: 55px;
		left: 28px;
	}
	.imageContainer img:nth-child(3) {
		right: 115px;
		bottom: 28px;
	}
	.family p {
		width: 1700px;
		padding: 40px;
		margin: 28px 0 55px;
		border-radius: 28px;
		font-size: 28px;
	}
	.textTile p {
		padding: 40px;
		border-radius: 28px;
		font-size: 28px;
	}
	.tiles img {
		max-height: 700px;
		min-height: 400px;
	}
}

@media screen and (min-width: 3700px) {
	.imageContainer {
		margin-top: 100px;
		min-height: 1200px;
	}
	.imageContainer img {
		height: 900px;
		width: 800px;
	}
	.imageContainer img:nth-child(1) {
		bottom: 106px;
		left: 140px;
	}
	.imageContainer img:nth-child(2) {
		top: 80px;
		left: 40px;
	}
	.imageContainer img:nth-child(3) {
		right: 160px;
		bottom: 40px;
	}
	.family p {
		width: 2400px;
		padding: 60px;
		margin: 40px 0 80px;
		border-radius: 40px;
		font-size: 40px;
	}
	.textTile p {
		padding: 60px;
		border-radius: 40px;
		font-size: 40px;
	}
	.tiles img {
		max-height: 1000px;
		min-height: 600px;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
