.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
}

.about p {
	font-size: 1.25rem;
}

.about h1 {
	font-weight: 300;
	color: black;
	opacity: 0.85;
	text-shadow: 2px 2px 3px #1fab89;
}

.family {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	min-height: 90vh;
	background-color: #d7fbe8;
}

.familyText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	background-color: #ecfaf3;
}

.overflowContainer {
	margin-left: 5vw;
	overflow: hidden;
}

.overflowContainer h1 {
	width: 90%;
	margin-bottom: 7vh;
	font-size: 6rem;
	animation: fadeIn 1s ease-out backwards;
}
.overflowContainer p {
	width: 75%;
	animation: fadeIn 1s ease-out backwards;
	padding-bottom: 20px;
}
.imageContainer {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
	background-color: #9df3c4;
	animation: fadeIn 1s ease-out backwards;
}

.imageContainer img {
	height: 30vw;
	width: 30vw;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	animation: fadeIn 1s ease-out backwards;
}

.banner {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('/images/about-banner-placeholder.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	place-items: center;
	height: 50vh;
	animation: fadeIn 1s ease-out backwards;
}
.banner h1 {
	font-weight: 300;
	color: white;
	opacity: 0.85;
	text-shadow: 2px 2px 3px #1fab89;
	font-size: 6rem;
}
.tiles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	background-color: #9df3c4;
}

.tiles img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
	animation: fadeIn 1s ease-out backwards;
}
.tiles p {
	position: relative;
	width: 60%;
	padding: 5%;
	background: url('/images/doggo-background-texture-3.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.tile1,
.tile3 {
	left: 7px;
	bottom: 10px;
	box-shadow: -7px 10px 10px #1fab89;
	border-radius: 10px;
	animation: fadeIn 1s ease-out backwards;
}
.tile-2 {
	right: 7px;
	bottom: 10px;
	box-shadow: 7px 10px 10px #1fab89;
	border-radius: 10px;
	animation: fadeIn 1s ease-out backwards;
}

@media screen and (max-width: 1350px) {
	.overflow-container h1 {
		margin-bottom: 20px;
		font-size: 5rem;
	}
	.overflow-container p {
		font-size: 1.125rem;
	}

	.image-container img {
		height: 35vw;
		width: 35vw;
	}

	.banner h1 {
		font-size: 5rem;
	}

	.tiles p {
		font-size: 1.125rem;
	}
}

@media screen and (max-width: 1050px) {
	.overflow-container h1 {
		font-size: 3.4rem;
		width: 90%;
	}
	.overflow-container p {
		font-size: 1rem;
		width: 85%;
	}

	.image-container img {
		height: 40vw;
		width: 40vw;
	}

	.banner {
		background-position: 25% 50%;
	}
	.banner h1 {
		font-size: 3.4rem;
		text-align: center;
	}

	.tiles p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 700px) {
	.family {
		grid-template-columns: 100%;
		grid-template-rows: 40vh minmax(50vh, auto);
	}
	.overflow-container {
		margin: 0;
		display: grid;
		place-items: center;
	}
	.overflow-container h1,
	.overflow-container p {
		text-align: center;
		width: 90%;
		padding: 10px 0;
	}

	.image-container img {
		height: 35vh;
		width: 35vh;
	}
	.tiles {
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, 1fr 1.5fr);
	}
	.tiles p {
		position: static;
		width: 80%;
		margin: 30px;
		padding: 10px;
	}
	.tiles img {
		height: 100%;
	}
	.tiles img:nth-child(2) {
		grid-row: 4 / span 1;
	}
}
@media screen and (max-width: 400px) {
	.tiles {
		grid-template-rows: repeat(3, 1fr 1fr);
	}
}
@media screen and (min-width: 2500px) {
	.overflow-container h1 {
		font-size: 8rem;
	}
	.overflow-container p {
		font-size: 1.875rem;
	}

	.banner h1 {
		font-size: 8rem;
	}

	.tiles p {
		font-size: 1.875rem;
	}
}
@media screen and (min-width: 3700px) {
	.overflow-container h1 {
		font-size: 10rem;
	}
	.overflow-container p {
		font-size: 2.5rem;
	}

	.banner h1 {
		font-size: 10rem;
	}

	.tiles p {
		font-size: 2.5rem;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
