.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}
.banner {
	display: grid;
	place-items: start;
	width: 100%;
	height: 60vh;
	background-image: url(/images/contact/puppies.jpg);
	background-repeat: no-repeat;
	background-position: center -200px;
	background-attachment: fixed;
	background-size: cover;
	animation: fadeIn 0.5s ease-out backwards;
}

.contactInfo {
	display: grid;
	place-items: center;
	width: 100%;
	background-image: url('/images/dark-wallpaper.png');
	background-repeat: repeat;
	background-size: cover;
	animation: fadeIn 0.5s 0.2s ease-out backwards;
}
.contactInfo div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-evenly;
	font-weight: 400;
	margin: 40px 0;
	padding: 30px 50px;
	border-radius: 30px;
	background-color: #fcbb46;
	box-shadow: 4px 6px 8px #13614d;
	transition: 0.2s ease-out;
	animation: fadeIn 0.5s 0.3s ease-out backwards;
}
.contactInfo h1 {
	padding-bottom: 10px;
	font-size: 53px;
	font-weight: 400;
	color: black;
	text-align: center;
	text-shadow: 0px 3px 6px #515151;
	animation: fadeIn 0.5s 0.4s ease-out backwards;
}

.contactInfo a {
	display: flex;
	align-items: center;
	padding: 5px 0;
	font-family: 'Segoe UI', sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: black;
	text-shadow: 0px 3px 6px #515151;
	transition: 0.3s;
}
.contactInfo a:nth-child(2) {
	animation: fadeIn 0.5s 0.5s ease-out backwards;
}
.contactInfo a:nth-child(3) {
	animation: fadeIn 0.5s 0.6s ease-out backwards;
}
.contactInfo a:nth-child(4) {
	animation: fadeIn 0.5s 0.7s ease-out backwards;
}

.contactInfo svg {
	margin-right: 20px;
	height: 45px;
	width: 45px;
}

.contactInfo a:hover {
	transform: translateX(10px);
}
.contact iframe {
	width: 100%;
	height: 50vh;
	z-index: 20;
	animation: fadeIn 0.5s ease-out backwards;
}

.tables {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	margin-top: -10px;
	padding: 30px 20px 20px;
	background-image: url('/images/dark-wallpaper.png');
	background-repeat: repeat;
	background-size: cover;
	animation: fadeIn 0.5s ease-out backwards;
}

.address {
	width: 500px;
	margin: 40px 10px;
	padding: 20px;
	border-radius: 30px;
	font-size: 25px;
	text-align: center;
	background-color: #d7fbe8b9;
	box-shadow: 4px 6px 8px #13614d;
	animation: fadeIn 0.5s ease-out backwards;
}
.address p {
	padding: 16px 0;
	border-top: 1px solid #13614d;
}

.table {
	width: 500px;
	margin: 40px 10px 0;
	padding: 20px;
	border-radius: 30px;
	background-color: #d7fbe8b9;
	box-shadow: 4px 6px 8px #13614d;
	animation: fadeIn 0.5s ease-out backwards;
}
.table table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.table td {
	font-size: 20px;
	padding: 20px 5px;
	border-bottom: 1px solid #13614d;
}
.table td:nth-child(1) {
	border-top: 1px solid #13614d;
}

.table th,
.address h2 {
	font-size: 36px;
	font-weight: 400;
	padding: 10px;
}

.svgContainer {
	height: 0;
	width: 0;
}
.svgContainer img {
	height: 80px;
	width: 80px;
	position: relative;
	left: 370px;
	bottom: 95px;
	transform: rotate(-20deg);
}

/* Height queries for contact info */

@media screen and (max-height: 900px) {
	.contactInfo div {
		margin: 30px 0;
		padding: 20px 30px;
	}
	.contactInfo h1 {
		font-size: 40px;
	}
	.contactInfo a {
		font-size: 30px;
	}
	.contactInfo svg {
		margin-right: 15px;
		height: 32px;
		width: 32px;
	}
}
/* handheld width queries */
@media screen and (max-width: 1050px) {
	.banner {
		background-attachment: local;
		background-position: bottom;
		height: 50vh;
	}
}
@media screen and (max-width: 800px) {
	.contactInfo div {
		padding: 20px;
	}
	.contactInfo h1 {
		font-size: 40px;
	}
	.contactInfo a {
		font-size: 30px;
	}

	.table,
	.address {
		width: 450px;
	}

	.table th,
	.address h2 {
		font-size: 28px;
	}
	.svgContainer img {
		left: 320px;
	}
}
@media screen and (max-width: 600px) {
	.contactInfo div {
		padding: 20px;
	}
	.contactInfo h1 {
		font-size: 36px;
	}
	.contactInfo a {
		font-size: 24px;
	}
}
@media screen and (max-width: 550px) {
	.tables {
		padding: 20px 5px 5px;
	}
	.table,
	.address {
		width: 95%;
		margin: 20px 0;
		padding: 10px;
	}

	.table th,
	.address h2 {
		font-size: 24px;
	}

	.address,
	.table td {
		font-size: 20px;
		text-align: center;
	}
	.svgContainer {
		position: relative;
		left: 10px;
		bottom: 70px;
	}
	.svgContainer img {
		transform: rotate(20deg);
		height: 60px;
		width: 60px;
		left: 0;
		bottom: 0;
	}
}
@media screen and (max-width: 500px) {
	.contactInfo {
		min-height: 250px;
	}
	.contactInfo div {
		padding: 15px;
	}
	.contactInfo h1 {
		font-size: 28px;
	}
	.contactInfo a {
		font-size: 20px;
	}
	.contactInfo a:nth-child(4) {
		text-align: center;
	}
	.contactInfo svg {
		margin-right: 10px;
		height: 20px;
		width: 20px;
	}
}
@media screen and (max-width: 440px) {
	.table th,
	.address h2 {
		font-size: 20px;
	}

	.address,
	.table td {
		font-size: 16px;
		text-align: center;
	}
}

/* Large resolutions */
@media screen and (min-width: 2500px) {
	.banner {
		background-position: center -280px;
	}
	.contactInfo div {
		padding: 55px 70px;
		border-radius: 40px;
		margin: 55px 0;
	}
	.contactInfo h1 {
		padding-bottom: 14px;
		font-size: 73px;
	}
	.contactInfo a {
		padding: 7px 0;
		font-size: 50px;
	}
	.contactInfo svg {
		margin-right: 28px;
		height: 65px;
		width: 65px;
	}
	.contactInfo a:hover {
		transform: translateX(14px);
	}
	.address {
		width: 700px;
		margin: 55px 14px;
		padding: 28px;
		border-radius: 40px;
		font-size: 35px;
	}
	.address p {
		padding: 22px 0;
		border-top: 1px solid #13614d;
	}
	.table {
		width: 600px;
		margin: 55px 14px 0;
		padding: 28px;
		border-radius: 40px;
	}
	.table td {
		font-size: 28px;
		padding: 28px 7px;
	}
	.table th,
	.address h2 {
		font-size: 55px;
		padding: 14px;
	}
	.svgContainer img {
		height: 110px;
		width: 110px;
		left: 520px;
		bottom: 135px;
	}
}
@media screen and (min-width: 3700px) {
	.banner {
		background-position: center -400px;
	}
	.contactInfo div {
		padding: 80px 100px;
		border-radius: 60px;
		margin: 80px 0;
	}
	.contactInfo h1 {
		padding-bottom: 20px;
		font-size: 106px;
	}
	.contactInfo a {
		padding: 10px 0;
		font-size: 70px;
	}
	.contactInfo svg {
		margin-right: 40px;
		height: 90px;
		width: 90px;
	}
	.contactInfo a:hover {
		transform: translateX(20px);
	}
	.address {
		width: 1000px;
		margin: 80px 20px;
		padding: 40px;
		border-radius: 60px;
		font-size: 50px;
	}
	.address p {
		padding: 32px 0;
	}
	.table {
		width: 1000px;
		margin: 80px 20px 0;
		padding: 40px;
		border-radius: 60px;
	}
	.table td {
		font-size: 40px;
		padding: 40px 10px;
	}
	.table th,
	.address h2 {
		font-size: 72px;
		padding: 20px;
	}
	.svgContainer img {
		height: 160px;
		width: 160px;
		left: 740px;
		bottom: 190px;
	}
}

/* Paralax height breakpoints for the banner */

@media screen and (max-height: 900px) and (min-width: 1050px) {
	.banner {
		background-position: center -150px;
	}
}
@media screen and (max-height: 700px) and (min-width: 1050px) {
	.banner {
		background-position: center -110px;
	}
}

@media screen and (max-width: 1050px) and (orientation: landscape) {
	.banner {
		background-position: center 60%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
