.footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 20px 0;
	color: white;
	background-color: #13614d;
}

.footer a {
	display: inline-block;
	color: white;
	transition: all 0.3s;
}
.footer a span {
	word-break: break-word !important;
}

.footer ul {
	list-style-type: none;
}
.footer li,
.footer p {
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.footer a:hover {
	transform: translateX(5px);
}

@media screen and (max-width: 800px) {
	.footer {
		flex-direction: column;
		align-items: center;
	}
	.footer ul,
	.footer p {
		width: 50%;
		padding: 10px 0;
		text-align: center;
	}
}
@media screen and (min-width: 2500px) {
	.footer a,
	.footer li,
	.footer p,
	.footer span {
		font-size: 1.5rem;
	}
}
@media screen and (min-width: 3700px) {
	.footer a,
	.footer li,
	.footer p,
	.footer span {
		font-size: 2rem;
	}
}
